ul.dir { padding:0 }
ul.dir li {
    display: block;
    list-style-type: none;
    margin-bottom: 0.3em;
    padding: 0.3em;
    border-top: 1px solid #ddd;
}
ul.dir a {
    float: left;
    word-break: break-word;
}
ul.dir .icon {
    margin-left:.2em;
}
ul.dir .item-size {
    margin-right: 1em;
    display:inline-block;
}

.icon {
    vertical-align: text-bottom;
    margin: 0 0.2em;
}

ul.dir .entry-props {
    float: right;
    font-size: 90%;
    margin-left: 12px;
    margin-top: 0.2em
}

a {
    text-decoration: none;
    color: #357;
    border: 1px solid transparent;
    padding: 0 0.1em;
}