body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
    vertical-align: text-bottom;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #357;
}
button {
    background-color: #bcd;
    color: #444;
    padding: 0.5em 1em;
    border: transparent;
    text-decoration: none;
    border-radius: 0.3em;
    vertical-align: middle;
    cursor: pointer;
}

.error-msg {
    background-color: #faa;
    color: #833;
}

#folder-path {
    margin: 0.2em;
    & a {
        float: left;
        height: 2em;
    }
    & button {
        padding: 0.4em 0.6em;
        border-radius: 0.7em;
    }
}
#folder-stats {
    font-size: 90%;
    padding: 0.1em 0.3em;
    margin: 0.2em 0.5em;
    float: right;
}

ul.dir {
    padding:0;
    clear: both;
    & li {
        display: block;
        list-style-type: none;
        margin-bottom: 0.3em;
        padding: 0.3em;
        border-top: 1px solid #ddd;

        & a {
            word-break: break-word;

            & .icon {
                margin-right: .3em;
            }
        }
        & .entry-props {
            float: right;
            font-size: 90%;
            margin-left: 12px;
            margin-top: 0.2em;

            & .icon {
                margin:0 .3em;
            }
            & .entry-size {
                display:inline-block;
            }
        }
    }
}

#menu-panel button label {
    cursor: inherit;
    margin-left: 0.8em;
}
