body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    max-width: 50em;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.icon {
    vertical-align: text-bottom;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #357;
}
button {
    background-color: #bcd;
    color: #444;
    padding: 0.5em 1em;
    border: transparent;
    text-decoration: none;
    border-radius: 0.3em;
    vertical-align: middle;
    cursor: pointer;
}
button.toggled {
    background-color: #79b;
}

.error-msg {
    background-color: #faa;
    color: #833;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
    padding: .2em;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinner {
    animation: 1s spin infinite;
}

.breadcrumb {
    padding: 0.1em 0.6em 0.2em;
    border-radius: 0.7em;
    background-color: #bcd;
    color: #444;
    line-height: 1.6em;

    border-top: 1px solid #666;
    margin-right: -0.1em;
}
#folder-stats {
    font-size: 90%;
    padding: 0.1em 0.3em;
    margin: 0.2em 0.5em;
    float: right;
    & .icon {
        margin-right: .3em;
    }
}
header input {
    width: 100%;
    margin: 0.2em auto;
    box-sizing: border-box;
}

ul.dir {
    padding: 0;
    margin: 0;
    clear: both;
    & li {
        display: block;
        list-style-type: none;
        margin-bottom: 0.3em;
        padding: 0.3em;
        border-top: 1px solid #ddd;

        & a {
            word-break: break-word;

            & .icon {
                margin-right: .3em;
            }
        }
        & .entry-props {
            float: right;
            font-size: 90%;
            margin-left: 12px;
            margin-top: 0.2em;

            & .icon {
                margin:0 .3em;
            }
            & .entry-size {
                display:inline-block;
            }
        }
    }
}

#menu-panel {
    margin-bottom: 0.2em;

    & button {
        margin: 0.1em;
    }
    & button label {
        cursor: inherit;
        margin-left: 0.8em;
    }
}
#searched {
    margin: .2em;
}

@media (max-width: 50em) {
    #menu-bar button:nth-child(1n+2) label { display: none } /* icons only */
}
