@font-face {
  font-family: 'fontello';
  src: url('fontello.woff2?39711600') format('woff2');
  font-weight: normal;
  font-style: normal;
}
[class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-cog:before { content: '\e800'; } /* '' */
.fa-audio:before { content: '\e801'; } /* '' */
.fa-doc:before { content: '\e802'; } /* '' */
.fa-stop:before { content: '\e803'; } /* '' */
.fa-play:before { content: '\e804'; } /* '' */
.fa-music:before { content: '\e805'; } /* '' */
.fa-cancel:before { content: '\e806'; } /* '' */
.fa-edit:before { content: '\e807'; } /* '' */
.fa-check:before { content: '\e808'; } /* '' */
.fa-folder:before { content: '\e809'; } /* '' */
.fa-user:before { content: '\e80a'; } /* '' */
.fa-home:before { content: '\e80b'; } /* '' */
.fa-key:before { content: '\e80c'; } /* '' */
.fa-trash:before { content: '\e80d'; } /* '' */
.fa-to_start:before { content: '\e80e'; } /* '' */
.fa-pause:before { content: '\e80f'; } /* '' */
.fa-to_end:before { content: '\e810'; } /* '' */
.fa-image:before { content: '\e811'; } /* '' */
.fa-camera:before { content: '\e812'; } /* '' */
.fa-search:before { content: '\e813'; } /* '' */
.fa-logout:before { content: '\e814'; } /* '' */
.fa-video:before { content: '\e815'; } /* '' */
.fa-left:before { content: '\e816'; } /* '' */
.fa-lock:before { content: '\e817'; } /* '' */
.fa-reload:before { content: '\e818'; } /* '' */
.fa-cut:before { content: '\e819'; } /* '' */
.fa-spin6:before { content: '\e839'; } /* '' */
.fa-crown:before { content: '\e844'; } /* '' */
.fa-download:before { content: '\f02e'; } /* '' */
.fa-upload:before { content: '\f02f'; } /* '' */
.fa-link:before { content: '\f08e'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-zoom:before { content: '\f0b2'; } /* '' */
.copy:before { content: '\f0c5'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-comment:before { content: '\f0e5'; } /* '' */
.fa-paste:before { content: '\f0ea'; } /* '' */
.fa-fullscreen:before { content: '\f108'; } /* '' */
.fa-quote:before { content: '\f10d'; } /* '' */
.fa-unlink:before { content: '\f127'; } /* '' */
.fa-archive:before { content: '\f1c6'; } /* '' */
